@import url( 'https://fonts.googleapis.com/css?family+Raleway')
html, h1, h2, h3, h4, h5, h6;

.navbar{
    background: rgb(235, 135, 110)
}

.nav-link, .navbar-brand {
    color: #F4F4F4;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    background: #F4F4F4;
    color: rgb(235, 135, 110);
}

.navbar-collapse {
    justify-content: flex-end
}

.navbar-toggler {
    background: #ffffff
}

header{
    background-image: url(../img/710.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
}

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    right: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.45)
}

.descripcion{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
}

.descripcion h1 {
    color: rgb(48, 50, 68);
}

.descripcion p{
color: rgb(112, 112, 126);
font-size: 20px;
width: 50%;
line-height: 1.5;
}

.descripcion button {
border: 1px solid;
background: rgb(235, 135, 110);
color: #fff;
}

.about{
    margin: 4em 0; 
    padding: 1em; 
    position: relative;
}

.about h1{
    color: rgb(235, 135, 110);
    margin: 2em;
}

.about img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 1px solid rgb(235, 135, 110);
}

.about span{
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
}

.about .desc{
    padding: 2em;
    border-left: 4px solid rgb(161, 63, 63);
}

.about .desc h3{
 color: rgb(161, 63, 63)
}

.about .desc p{
   line-height: 2;
   color: #888;
   }
   