body{
    background: #333333 url(../img/palma.jpg) ;
    background-size: cover;
    font: 12pt Verdana, Geneva, Arial;
    color: white;
    margin: 20px 0px 20px 0px;
    text-align: center;
}

#contenedor {
    text-align: left;
    width: 800px;
    background-color: white;
    color: #666666;
    margin: auto;
}

#cabecera {
    height: 106px;
    width: 800px;
}

#navegacion {
    background: #e9d14b;
    padding: 3px 10px;
    border-top: 1px solid #666666;
    border-bottom: 1px solid #666666;
}

a.navegacion-nav {
    color: white;
    display: table-cell;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    height: 30px;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    width: 180px ;
}

a.navegacion-nav:hover {
    background: #a59227;
    color: #534e30;
}

#contenedor #main {
    background-color: rgb(250, 208, 222);
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px; 
    float: left;
    padding: 10px;
    width: 600px;
}

#main h1 {
    text-align: center;
    color: white;
}

#main figcaption {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: bold;
}

#main figure {
    text-align: center
}

#main p {
    margin:0 10 px;
    text-align: justify;
}

#lateral {
    background-color: rgb(219, 154, 175);
    float: right;
    padding: 5px;
    width: 170px;
}
